@model Octogami.SixDegreesOfNetflix.Website.Models.ActorsViewModel
   

<h1>Six Degrees of Netflix</h1>
<h2>Searching for a path between @Model.ActorOne and @Model.ActorTwo ...</h2>

<actor-path actor-path="Model.ActorPath"></actor-path>

<br/>

<h4><a asp-controller="Actor" asp-action="Index">Try again?</a></h4>