@model Octogami.SixDegreesOfNetflix.Website.Models.ActorsViewModel
   

<h1>Actors</h1>
<h2>@Model.ActorOne</h2>
<h2>@Model.ActorTwo</h2>

<br />

<actor-path actor-path="Model.ActorPath"></actor-path>