<h2>Actors</h2>
<form asp-controller="Actor" asp-action="Populate" method="post">
    <label>Actor One</label><input name="actorOne" type="text"/>
    <label>Actor Two</label><input name="actorTwo" type="text"/>
    <input type="submit"/>
</form>
